body{
	font-family:arial;
	color:#444;
}
nav{
	background-color:#cecece;
}
nav ul{
	
	padding-left:0px;
	text-align:center;
}
nav li{
	display:inline-block;
	list-style:none;
	border-bottom:2px solid black;
	margin:10px 20px
}
section h2{
	border-bottom:2px solid black;
}
div{
	margin:0px 30px;
}
h2{
	margin-top:30px;
}
a{
	color:#444;
	text-decoration:none;
}