input:focus{
    padding: 4px;
    outline: none;
    border: 2px solid brown;
}
input:required{
    color:yellow ;
}
.arsal{
    margin-top:50px;
}
/* p:first-child{
    color: red;
} */
/* p:first-of-type{
    color:red;
}  */
/* p:last-child{
    color: green;
} */
p:last-of-type{
    color: green;
}
