.abc{
    font-size: 16px;
    font-size: 32px;
    font-size: 48px;
    font-size: 96px; 
    /* 1 inch == 96px */
    font-size: 1in;
    /* 1 inch  == 2.54cm  */
     font-size:2.54cm ; 
     /* 1 px == 0.75pt
    16px == 0.75*16 (12)  */
     font-size: 16px; 
     font-size: 12pt; 
     border: 12pt solid black; 

}
div{
    border:2px solid red ;
    font-size: 20px;
    width: 50%;
}
.hello{
    font-size:200%  ;
    border: 1px solid green;
    width: 50%;
    background-color: grey;
    margin:10px auto;
    /* margin-left: 25%; */
    text-align: center;
}