.cool::before{
    content: 'hello';
    color: aqua;
    border: 1px solid black;
    display: block;
    padding: 5px;
    margin-bottom: 5px;

}
.cool::after{
    content: 'hello';
    color: aqua;
    border: 1px solid black;
    display: block;
    padding: 5px;
    margin-top: 5px;
}
.main-heading::before{
    content: 'hello ';
    color: red;
}